body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(110deg, #04020c, #110831);
  font-family: Arial, sans-serif;
  user-select: none; /* No se puede seleccionar texto */
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center 5%; /* valor por defecto */
  z-index: -1;
}

#video-overlay {
  position: fixed;

  inset: 0;
  background: black;
  opacity: 0;
  z-index: 0; /* encima del video, debajo del form */
  pointer-events: none;
  transition: opacity 1s ease;
}

#bg-overlay {
  position: fixed;
  inset: 0;
  background: black;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.5s ease;
  z-index: 9999;
}

.page-transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.12s ease;
  z-index: 9999;
}

.page-transition.hidden {
  opacity: 0;
  pointer-events: none;
}
